bidict==0.22.1
black==23.3.0
blinker==1.6.2
click==8.1.4
flake8==6.0.0
Flask==2.3.2
Flask-SocketIO==5.3.4
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.1
platformdirs==3.8.1
pycodestyle==2.10.0
pyflakes==3.0.1
python-engineio==4.5.1
python-socketio==5.8.0
tomli==2.0.1
Werkzeug==2.3.6
